# On ignore tout par défaut
*

# On force la prise en compte des dossiers ET de leur contenu
!kubejs/
!kubejs/**
!config/
!config/**
!ftbquests/
!ftbquests/**
!fancymenu/
!fancymenu/**
!defaultconfigs/
!defaultconfigs/**
!patchouli_books/
!patchouli_books/**
!scripts/
!scripts/**

# On ne s'ignore pas soi-même
!.gitignore