<hr>

# Emendatus Enigmatica Validation Results
Emendatus Enigmatica version: 1.21.1-2.2.0-alpha-3<br>
File generated at: 28-01-2026 15:24:09.052<br>
<hr>

## Strata
All files were parsed and registered successfully!<br>
## Materials
All files were parsed and registered successfully!<br>
## Compatibility
All files were parsed and registered successfully!<br>
## Deposits
All files were parsed and registered successfully!<br>
## Additional Information
### Performance
<table><tr><td>Scanning and registration of addons</td><td>0.038s</td></tr><tr><td>Loading and parsing JSON Files</td><td>0.002s</td></tr><tr><td>Validation: Strata</td><td>0.000s</td></tr><tr><td>Validation: Material</td><td>0.000s</td></tr><tr><td>Validation: Compat</td><td>0.000s</td></tr><tr><td>Validation: Deposits</td><td>0.021s</td></tr><tr><td>Data Generation</td><td>0.191s</td></tr><tr><td>Validation: Registry</td><td>0.008s</td></tr><tr><td>Generation of Analytics Summary</td><td>0.019s</td></tr></table>


> You can disable the generation of this summary and speed up the validation in the configuration file!

